<!DOCTYPE html>
<html>
    <head>
        <title>
            Contact List
        </title>
       <!--Please use your fontawesome below ,, replace ********** with your id-->
        <script src="https://kit.fontawesome.com/**********" crossorigin="anonymous"></script> 
        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
        <!-- <script type="text/javascript">
            function deletes(name, phone){
                console.log(name, phone);
            }
            var text = window.prompt("Enter your name :",["default"]);
            var headingElement = document.createElement('h2');
			headingElement.textContent = text +"'s Contact Info List :";
			document.body.appendChild(headingElement);
        </script> -->
       <div id="heading">
            <i class="fa-regular fa-address-book"></i>
        <h1 id="page-heading">MyContact List </h1>
       </div>
       
        <div id="contacts">
            <ul type="none">
                <%for(let i of locals.contact_list){%>
                   <div id="contact-item">
                        <li>
                            <form action="/delete-contact", method="POST">
                                <div id="item">
                                    <div> <%=i.name%> </div>
                                    <div><%=i.phone%></div>
                                    <div> <input type="hidden" name="name" value="<%=i.name%>" /></div> 
                                    <div><input type="hidden" name="phone" value="<%=i.phone%>" /></div>
                                    <div><button type="submit">Remove</button></div>
                                </div>
                            </form>
                        </li>
                   </div>
                <%}%>
            </ul>
        </div>
        <form action="/add-contact" method="POST">
            <div id="form">
                <input type="text" name="name" placeholder="Enter Your Name" required>
                <input type="number" name="phone" placeholder="Enter Your Phone" required>
                <button type="submit">Add Contact</button>
            </div>
           
        </form>
        <script type="text/javascript" src="/js/home.js"></script>
    </body>
</html>
