<!DOCTYPE html>
<html>
    <head>
        <title>
            <%=locals.title%>
        </title>
    </head>
    <body>
        <script type="text/javascript">
            function deletes(name, phone){
                console.log(name, phone);
            }
            var text = window.prompt("Enter your name :",["default"]);
            var headingElement = document.createElement('h2');
			headingElement.textContent = text +" Contact Info List :";
			document.body.appendChild(headingElement);
            var form = document.createElement('form');
            form.setAttribute('action','');
            form.innerHTML='<label for="phone">Enter A Contact : </label><input type="text" placeholder="Contact Name" id="name" required><input type="Number" placeholder="Contact Number" id="phone" required><button type="button" id="save" onclick="saving()">Submit</button>';
            document.body.appendChild(form);
        </script>
      
        <h2> Your Contact List Are As Follows : </h2>
     
            <%for(let i of locals.contact_list){%>
                <li>
                    <%=i.name%>&nbsp;-&nbsp;<%=i.phone%>&nbsp;&nbsp;
                    <button type="button" onclick="deletes()">Remove</button>
                    
                </li>
            <%}%>
            <script type="text/javascript">
                function saving(){
                    var name = document.getElementById('name').value; 
                    var phone = document.getElementById('phone').value; 
                    var contact =document.createElement('li');
                    var del = document.createElement('button');
                    del.onclick = "delete()";
                    del.type="button";
                    del.innerText="Remove";
                    contact.innerHTML = name+" - "+phone+"&nbsp;&nbsp;"+  "<button type='button' onclick='deletes(name, phone)';'>Remove</button>";
                    document.body.appendChild(contact);
                }
            
            </script>
        
    </body>
</html>