<!DOCTYPE html>
<html>
    <head>
        <title>EJS Template Engine <%= title %></title>
    </head>
    <body>
        <h1>Rendered using EJS Template Engine :::: <%= title%></h1>
    </body>
</html>